.body {
    align-items: center;
    justify-content: center;
    display:grid;
}
.brand-section {
    margin-bottom: 40px;
}

.brand-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.model-container {
    display: flex;
    flex-wrap: wrap;
}

.model-card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.model-card img {
    width: 100%;
    height: auto;
}

.model-card .model-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.model-card .model-details {
    font-size: 14px;
    margin-top: 5px;
}